.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: chocolate;
    padding: 20px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.75);
}

.header_avatar{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.75);
}

.header_list{
    font-weight: bold;
    font-size: 2rem;
    margin-right: 100px;
   
}

@media screen and (max-width: 600px){
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        background-color: chocolate;
        padding: 20px;
        border-radius: 20px;
        width: 90%;
        margin-top: 4px;
    }

    .header_avatar{
        width: 6rem;
        height: 6rem;
    }

    .header_list{
        display: block;
        font-weight: bold;
        font-size: 0.6rem;       
    }
}